.expense-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
  padding: 0.5rem;
  border-radius: 7px;
  background-color: #8257e5;
  box-shadow: 5px 4px 5px -3px #353232;
}

.expense-item__date {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  border-radius: 7px;
  padding: 0.3rem;
  background: #04d361;
  font-weight: bold;
}

.expense-item__description {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  flex-flow: column-reverse;
  flex: 3;
}

.expense-item__description h2 {
  color: #080707;
  font-weight: 700;
  font-size: 1rem;
  flex: 1;
}

.expense-item__price {
  font-weight: 700;
  background-color: #04d361;
  border: 1px solid transparent;
  padding: 0.5rem 2rem;
  border-radius: 12px;
}

@media screen and (min-width: 767px) {
  .expense-item {
    width: 50%;
    margin: 1rem auto;
  }

  .expense-item__description {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex: 4;
  }

  .expense-item__description h2 {
    font-size: 1.25rem;
    margin: 0 1rem;
  }

  .expense-item__price {
    font-size: 1.25rem;
    padding: 0.5rem 1.5rem;
  }
}
